.Counter {
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 20px;
}

.Counter > h1 {
  font-size: 45px;
  margin: 20px 0;
  text-align: center;
}

.totalsRow {
  display: flex;
  flex-direction: row;
}

.totalsRow > p {
  margin-block: 70px;
  margin-inline: 50px;
}
